<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
  <% with (scripts) { %>
    <% [].concat(polyfills, jasmine, vendor, helpers).forEach(function(script){ %>
    <script src="<%= script %>"></script>
    <% }) %>

  <% }; %>

  <!-- dependencies -->
  <script type="text/javascript" src="libraries/sage/sage.js"></script>
  <script type="text/javascript" src="libraries/sage/class.js"></script>
  <script type="text/javascript" src="libraries/sage/event.js"></script>
  <script type="text/javascript" src="libraries/sage/evented.js"></script>
  <script type="text/javascript" src="libraries/sage/deferred.js"></script>
  <script type="text/javascript" src="libraries/Base64.js"></script>
  <script type="text/javascript" src="libraries/ObjTree.js"></script>
  <script type="text/javascript" src="libraries/parseuri.js"></script>

  <!-- client -->
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataAjax.js"></script>
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataUri.js"></script>
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataBaseRequest.js"></script>
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataApplicationRequest.js"></script>
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataSingleResourceRequest.js"></script>
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataSystemRequest.js"></script>
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataTemplateResourceRequest.js"></script>
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataResourceCollectionRequest.js"></script>
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataNamedQueryRequest.js"></script>
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataResourcePropertyRequest.js"></script>
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataServiceOperationRequest.js"></script>
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataBatchRequest.js"></script>
  <script type="text/javascript" src=".grunt/grunt-contrib-jasmine/src/SDataService.js"></script>


  <!-- Dojo -->
  <script type="text/javascript" src="libraries/dojo/dojo/dojo.js" data-dojo-config="parseOnLoad:false, async:false"></script>
  <script type="text/javascript">
  require({
      baseUrl: "./",
      packages: [
          { name: 'dojo', location: 'libraries/dojo/dojo' },
          { name: 'spec', location: 'tests' }
      ]
  });
  </script>

  <% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <% }); %>



</head>
<body>
  <script type="text/javascript">
  <% with (scripts) { %>
  require([
    'spec/all',
    '<%= boot %>',
    '<%= reporters[0] %>',
    '<%= reporters[1] %>'
  ], function() {
  });
  <% }; %>
  </script>
</body>
</html>
